body {
    margin: 10px;
    transition: background-color 0.5s;
}

.theme-night {
    --font-color: green;
    --split-color: #aaa;
    --btn-hover-color: white;
    --pf-img-border-color: white;
    --pf-img-shadow-color: white;
    --name-color: white;
    --name-shadow-color: white;
    --theme-btn-img: url("assets/night.png");
    --theme-btn-color: #013e62;
    --start-btn-color: #282828;
    background-color: #041004;
}

.theme-day {
    --font-color: black;
    --split-color: #333;
    --btn-hover-color: white;
    --pf-img-border-color: #444;
    --pf-img-shadow-color: #444;
    --name-color: black;
    --name-shadow-color: white;
    --theme-btn-img: url("assets/day.png");
    --theme-btn-color: #eed600;
    --start-btn-color: #888;
    background-color: #f8db9d;
}

* {
    color: var(--font-color);
    font-family: 'Courier New';
    font-weight: 800;
}

.split {
    color: var(--split-color);
}

h1 {
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

.pf-container {
    display: flex;
    height: max-content;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pf-img {
    margin: 40px;
    border: 4px solid var(--pf-img-border-color);
    border-radius: 30px;
    box-shadow: 0 0 25px var(--pf-img-shadow-color);
    transition: border 0.5s;
}

.pf-content {
    margin: 40px;
    line-height: 40px;
    font-size: 120%;
    flex-shrink: 0;
}

h2 {
    margin: 30px auto 10px auto;
    text-align: center;
}

.mg-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 3em;
}

.game {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.developing {
    background-color: #ef5767;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 20px #ef5767;
}

.finished {
    background-color: #b8d38f;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 20px #b8d38f;
}

.mg-data {
    margin-left: 30px;
}

.mg-name {
    text-shadow: 0 0 6px var(--name-shadow-color);
    color: var(--name-color);
    font-size: 25px;
    text-wrap: nowrap;
    margin-bottom: 30px;
}

.mg-start {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: var(--start-btn-color);
    transition: border 0.25s;
}

.mg-start:hover {
    border-color: var(--btn-hover-color);
}

.github-link {
    position: fixed;
    z-index: 999;
    left: 2em;
    bottom: 2em;
    width: 80px;
    height: 80px;

    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-image: url("assets/github-icon.png");
    background-color: #272627;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition: border 0.25s;
}

.github-link:hover {
    border-color: var(--btn-hover-color);
}

.theme-button {
    position: fixed;
    z-index: 999;
    width: 80px;
    height: 80px;
    right: 2em;
    bottom: 2em;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: var(--theme-btn-color);
    background-image: var(--theme-btn-img);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transition: border-color 0.25s;
}

.theme-button:hover {
    border-color: var(--btn-hover-color);
}